[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
asyncio = "*"
python-dotenv = "*"
aioschedule = "*"

[dev-packages]

[requires]
python_version = "3.9"
